/*#2D5D9C #102036 hotpink 0AC2FF 2bf042*/

button:active, button:focus {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}

input:active, input:focus {
    outline: none;
}

input::-moz-focus-inner {
    border: 0;
}

.board-section {
    font-size: 1.1em;
}

body {
    background-color: #030724;
}

.uttt-board {
    margin: auto;
    background-color: inherit;
    border-radius: 3px;
    box-sizing: border-box;
    border-spacing: 1em;
}

.uttt-cell {
    border: 0;
    padding: 0;
}

.ttt-board {
    margin: -0.5em -0.5em;
    border-spacing: 0.5em;
    height: 14em;
    width: 14em;
    border: 0;
    padding: 0;
    border-radius: 35px;
    box-sizing: border-box;
}

.ttt-cell {
    width: 4em;
    height: 4em;
    padding: 0;
    line-height: 0;
    background-color: #0E1736;
    border-radius: 5px;
    margin: auto;
    box-sizing: border-box;
    border: 0.2em solid transparent;
}

.highlighted-cell {
    border-color: #9C9513;
}

.gloomy {
    background-color: #15214F;
}

svg {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    border: 0;
    padding: 0;
}

.nought {
    margin: 0;
    border: 0;
    padding: 0;
}

.cross {
    margin: 0;
    border: 0;
    padding: 0;
}

.nav-button {
    /*height: 3em;*/
    /*width: 6em;*/
    padding: 0.7em 1.3em;
    margin: 5px 10px 18px 0;
    font: 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    border-radius: 3px;
    border: 0.2em solid;
}

.blue-button {
    color: #284099;
    border-color: #284099;
    background-color: inherit;
}

.blue-button:hover {
    border: 0.2em solid #456AFF;
    color: #456AFF;
}

.blue-button:focus {
    color: #1DA828;
    border: 0.2em solid #1DA828;
}

.green-button {
    color: #1A9925;
    border: 0.2em solid #1A9925;
    background-color: inherit;
}

.green-button:hover {
    border: 0.2em solid #2BFF3D;
    color: #2BFF3D;
}

.green-button:focus {
    color: #990021;
    border: 0.2em solid #990021;
}

.red-button {
    color: #990021;
    border: 0.2em solid #990021;
    background-color: inherit;
}

.red-button:hover {
    border: 0.2em solid #FF0037;
    color: #FF0037;
}

.red-button:focus {
    color: #1A9925;
    border: 0.2em solid #1A9925;
}

nav {
    float: right;
}

header:after {
    content: " ";
    display: table;
    clear: both;
}

.login-form {
    width: 22em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #040B38;
    padding: 1.5em;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
}

.form-button {
    height: 2.5rem;
    background-color: inherit;
    border: 0.05rem solid;
    border-radius: 3px;
    font: 1.2em "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
}

.form-control {
    border-color: #456AFF;
    box-shadow: none;
    box-sizing: border-box;
    color: #456AFF;
}

.form-group {
    margin: 1.5em 2em;
}

h1 {
    color: #456AFF;
    font: 1.7em "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 1.4rem 2rem 2.4rem;
}

.login-label {
    color: #456AFF;
    margin: 0.4rem 0;
    font: 1.1em "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
}

.login-button {
    margin: 0.6em 0;
}

/*todo сбрасывать фокус с кнопки при неудачной авторизации*/
.error-text {
    color: #FF0037;
    margin: 0.4rem 0;
    font: 1.1em "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.close-button {
    float: right;
    width: 4em;
    height: 4em;
    padding: 0;
    border-radius: 3px;
    display: block;
}

.rules {
    margin-top: 6em;
}

.radio-toolbar {
    display: block;
    margin: 3em 0;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}

.radio-input {
    display: none;
}

.rules-radio-button {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: #284099;
    border-color: transparent;
    border-radius: 50%;
    margin: 0 0.2em;
}

.radio-toolbar input[type="radio"]:checked+label {
    background-color: #456AFF;
}

.slideout {
    animation: 2s slideout;
    animation-fill-mode: forwards;
}

@keyframes slideout {
    from {
        margin-left: 0;
    }

    to {
        margin-left: -200%;
    }
}

.right-button {
    float: right;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    width: 3em;
    padding: 0;
}