/*#2D5D9C #102036 hotpink 0AC2FF 2bf042*/

button:active, button:focus {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}

.board-section {
    font-size: 1.1em;
}

.lozung {
    color: aqua;
}

body {
    background-color: #050E24;
}

.uttt-board {
    margin: auto;
    border: 0.5em;
    border-spacing: 0.5em;
    background-color: inherit;
    border-radius: 3px;
}

.uttt-cell {
    margin: 0;
    border: 0;
    padding: 0;
}

.ttt-board {
    border-spacing: 0.5em;
    border: 0;
    padding: 0;
    border-radius: 35px;
}

.ttt-cell {
    width: 4em;
    height: 4em;
    padding: 0;
    line-height: 0;
    background-color: #071A36;
    /*box-shadow: 0.1em 0.1em 0.1em 0.1em #F878B8;*/
    border-radius: 3px;
    margin: auto;
    box-sizing: border-box;
    border: 0.2em solid transparent;
}

:target {
    background-color: hotpink;
}

.highlighted-cell {
    border-color: hotpink;
}

.gloomy {
    background-color: #172D4D;
}

svg {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}

.nought {
    margin: 0;
    border: 0;
    padding: 0;
}

.cross {
    margin: 0;
    border: 0;
    padding: 0;
}

.nav-button {
    /*height: 3em;*/
    /*width: 6em;*/
    padding: 0.7em 1.3em;
    margin: 0 10px 18px 0;
    font: 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #2D5D9C;
    border: 0.2em solid #2D5D9C;
    border-radius: 3px;
}

.blue-button {
    background-color: inherit;
}

.blue-button:hover {
    border: 0.2em solid #438BE8;
    color: #438BE8;
}

.blue-button:focus {
    border: 0.2em solid #3165A8;
    color: #3165A8;
}
